html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d0e4e2;

}

body {
    display: flex;
    flex-direction: column;
    background-color: #d0e4e2;
}

.content {
    flex: 1;
}

.index {
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #004d40;
    padding: 20px;
}

header {
    background-color: #b2dfdb;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #004d40;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-links a:hover {
    color: #00796b;
    border-bottom: 2px solid #00796b;
}

.welcome-message {
    font-size: 3rem;
    color: #00796b;
    margin: 20px 0;
    line-height: 1.2;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.circular-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.text-content {
    max-width: 500px;
    text-align: justify;
}

.text-content h2 {
    color: #ff6f61;
    margin: 0 0 10px;
}

.text-content p {
    color: #333;
    line-height: 1.6;
}

.card-group{
    padding: 50px;
    
}

.card{
    padding: 50px;
}

footer {
    background-color: #b2dfdb;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    color: #004d40;
    margin: 0 0 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: #004d40;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #00796b;
}
